.app {
  max-width: 1366px;
  margin: 0 auto;

  padding: 35px 30px;

  @media (max-width: 767px) {
    padding: 25px 20px
  }
}

.container {
  max-width: 1120px;
  margin: 0 auto;

  @media (max-width: 1023px) {
    max-width: 940px;
  }

  @media (max-width: 767px) {
    max-width: 100%;
  }
}