.App {
  text-align: center;
  max-width: 1366px ;
  margin: 0 auto;
  padding-bottom: 97px;
  padding-top: 35px;
}

.Container {
  max-width: 1120px ;
  margin: 0 auto;

  //	от 1024 px до 1365 px
  // max-width до 768px
  @media (max-width: 1024) {
    max-width: 940px ;
  }

  // max-width до 576px
  /* @media (max-width: 576px) {
    padding: 0 15px;
  }

  // max-width до 320px
  @media (max-width: 320px) {
    padding: 0 10px;
  } */
}






